@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: lightgray;
}

header{
    background-color:rgb(0, 0, 164) ;
    color: whitesmoke;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.522);
}

header>h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: darkblue;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover{
    background-color: rgb(0, 0, 111);
    color: whitesmoke;
}

menu{
    display: none;
}

menu>ul{
    list-style-type: none;
}

menu>ul>li>a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 164);
    color: white;
    border-top: 2px solid darkblue;
}

menu>ul>li>a:hover{
    background-color: rgb(0, 0, 122);
}

main{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.279);
}

article>h2{
    padding-bottom: 20px;
    text-align: center;
}

article>p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

article>p>strong{
    color: mediumblue;
}

article>p>mark{
    background-color: rgb(173, 194, 230);
}