@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: lightgray;
}

header{
    background-color:mediumblue ;
    color: whitesmoke;
}

header>h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: block;
}

menu>ul{
    list-style-type: none;
}

menu>ul>li>a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: white;
    border-top: 2px solid mediumblue;
}

menu>ul>li>a:hover{
    background-color: rgb(16, 16, 227);
}

main{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

article>h2{
    padding-bottom: 20px;
}

article>p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

article>p>strong{
    color: mediumblue;
}

article>p>mark{
    background-color: rgb(173, 194, 230);
}