@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2022/05/Photography-Backgrounds-Explainer-for-Creatives_11-1536x1025.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 500px;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.119);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#caixa1 {
    grid-area: 1 / 1 / span 1 / span 4;
}

#caixa2 {
    grid-area: 2 / 1 / span 2 / span 2;
}

#caixa3 {
        grid-area: 2 / 3 / span 2 / span 2;
}