@charset "UTF-8";

/* Estilos para tipos de Media */

/*---------------------------------------------------------
Device breakpoints - Padrões de mercado para tipos de telas
-----------------------------------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px ate 1200px
Grandes telas: acima de 1200px
----------------------------------------------------------*/

@media print {

    /* Impressão */

    *{
        font-family: 'Courier New', Courier, monospace;
    }
    img#print {
        display: block;
        margin: auto;
    }

    img#tablet,
    img#phone,
    img#pc,
    img#tv {
        display: none;
    }

    main{
        text-align: center;
        border: 2px solid black;
    }

    main h1{
        color: black;
        text-shadow: none;
    }

    main::after{
        content: 'Essa impressão foi feita através do site uabelem.github.io/html-css';
        text-decoration: underline;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    /* Tablet */

    body {
        background-image: url(../img/back-tablet.jpg);
    }

    img#tablet {
        display: block;
        margin: auto;
    }

    img#phone,
    img#print,
    img#pc,
    img#tv {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    /* Desktop */

    body {
        background-image: url(../img/back-pc.jpg);
    }

    img#pc {
        display: block;
        margin: auto;
    }

    img#tablet,
    img#print,
    img#phone,
    img#tv {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    /* Grandes telas */

    body {
        background-image: url(../img/back-tv.jpg);
    }

    img#tv {
        display: block;
        margin: auto;
    }

    img#tablet,
    img#print,
    img#pc,
    img#phone {
        display: none;
    }
}